/* G#2C2C2C*/
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
}

/* Títulos */
h1 {
    text-align: center;
    color: #FF7F90;
    margin: 20px 0;
}

h2 {
    color: #FF7F90;
    margin: 20px 0;
}
p {
    color: #4D4D4D;
}
 /* BARRA DE NAVEGACION*/
.logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
}
.menu {
    font-size: 25px;
}
.navbar {
    background-color: #E68A00 !important; /* Fondo del navbar */
}

.navbar_saludo {
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    margin-left: 50px;
}

.navbar .nav-link {
    color: #ffffff !important; /* Color del texto principal */
}

.navbar .nav-link:hover,
.navbar .nav-link.active,
.logo:hover {
    color: #FFB380!important;
    text-shadow: 
    -1px -1px 0 #000000, /* Sombra hacia arriba-izquierda */
    1px -1px 0 #000000,  /* Sombra hacia arriba-derecha */
    -1px 1px 0 #000000,  /* Sombra hacia abajo-izquierda */
    1px 1px 0 #000000;   /* Sombra hacia abajo-derecha */
    transition: all 0.3s ease; /* Transición suave */
}

.dropdown-menu {
    background-color: #ffffff !important; /* Fondo del menú desplegable */
    border: 1px solid #dee2e6; /* Borde del menú desplegable */
    position: absolute; /* Asegúrate de que esté en posición absoluta */
    left: -55px !important; /* Alinea a la izquierda del elemento padre */ 
}
.dropdown-item {
    font-size: 20px;
    color: #212529 !important; /* Color del texto del menú desplegable */
}
.dropdown-item:hover {
    background-color: #CC6F00; /* Fondo al pasar el mouse sobre el menú desplegable */
    color: #ffffff !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.btn-primary {
    background-color: #FFE599 !important; /* Amarillo suave */
    color: #000000 !important; /* Texto negro */
    border: 1px solid #FFE599 !important;
}
  
.btn-primary:hover {
    background-color: #FFD466 !important; /* Naranja suave en hover */
    border-color: #FFD466 !important; /* Borde más oscuro en hover */
}